<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "<http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galilikelike.mapper.UserMapper">

    <select id="selectUserPage" resultType="com.galilikelike.model.pojo.User">
        select * from users where userStatus = 0 and userRole = 0 order by createTime
    </select>

    <sql id="commonSql">
        select * from users
    </sql>

    <sql id="condition">
        <if test="userName != null and !userName.isEmpty()">
            userName like concat('%',#{userName},'%')
        </if>
        <if test="userStatus != null" >
            and userStatus = #{userStatus}
        </if>
        <if test="userAccount != null and !userAccount.isEmpty()">
            and userAccount = #{userAccount}
        </if>
    </sql>

    <select id="selectUserByCondition" resultType="com.galilikelike.model.pojo.User"
            parameterType="com.galilikelike.model.dto.ConditionQuery" >
        <include refid="commonSql"/>
        <where>
            <include refid="condition" />
        </where>
        order by createTime limit #{current},#{pageSize};
    </select>

    <select id="totalByCondition" resultType="java.lang.Integer"
            parameterType="com.galilikelike.model.dto.ConditionQuery" >
        select count(*) from users
        <where>
            <include refid="condition" />
        </where>
    </select>

    <update id="edit">
        update users
        <set>
            <if test="userName != null">
                userName = #{userName}
            </if>
            <if test="hiddenPhone">
                ,phone = #{hiddenPhone}
            </if>
            <if test="hiddenEmail">
                ,email = #{hiddenEmail}
            </if>
        </set>
        <where>
            userAccount = #{userAccount}
        </where>
    </update>

</mapper>
